grafana:
  enabled: true

  adminUser: admin

  service:
    type: ClusterIP

prometheus:
  enabled: true

  prometheusSpec:
    retention: 7d
    serviceMonitorSelectorNilUsesHelmValues: false

alertmanager:
  enabled: true

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true
